{% extends 'src/layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'src/css/instrumentos.css' %}">

<h1 class="text-center p-3">Instrumentos</h1>
    <div class="container caja p-4 rounded">
        
        {% for inst in instrumentos %}
            <div class="card border-dark mb-4" style="width: 18rem;">
                <img src="{% static 'src/img/instrumentos/'%}{{ inst.imagen }}" alt="{{inst.nombre}}" class="img-fluid" width="80%" style="margin:10px auto;display:block;">
                <h5 class="card-header">{{ inst.nombre }}</h5>
                <div class="card-body text-dark">
                <p class="card-text">{{ inst.descripcion }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
        
{% endblock %}